nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Jost;
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 5rem;
  position: fixed;
  z-index: 7
}

.sections{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.sections p{
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  min-width: 8rem
}
